@tailwind base;
@tailwind components;
@tailwind utilities;
/* Global scrollbars'ı gizleme */
body {
  overflow: auto; /* Sayfa üzerindeki scrollbars'ı yeniden aktif hale getirir */
}
/* Global scrollbars'ı gizleme */
body.no-scroll {
  overflow: hidden; /* Sayfa scrollbars'ını gizler */
}

/* Scroll yapılacak bölümler için */
.scrollable {
  overflow-y: scroll; /* Yalnızca dikey scroll sağlar */
}

/* Özellikle scroll yapılacak bölümler için overflow ayarları */
.scrollable {
  overflow-y: scroll; /* Yalnızca dikey scroll sağlar */
}

/* Scroll indikatörleri (isteğe bağlı) */
.scrollable::-webkit-scrollbar {
  width: 8px; /* Scrollbar genişliği */
}

.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar arka planı */
}

.scrollable::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar parmağı */
}

.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scrollbar parmağı hover efekti */
}
